MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_BACKEND_STORE_URI=postgresql://mlflow:mlflow@localhost:5432/mlflow
MLFLOW_DEFAULT_ARTIFACT_ROOT=s3://mlflow/
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=ap-northeast-2
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
DVC_REMOTE_NAME=storage
DVC_REMOTE_URL=s3://dvc/

